<div class="container-fluid">
  <a href="" style="color: #9e9e9e">Trang chủ ></a> <span style="color: #9e9e9e">Giỏ hàng của bạn</span>
  <div class="row my-2">
    <h4><b>CHI TIẾT SẢN PHẨM</b></h4>
  </div>

  <div class="row mx-4">
    <div class="col-lg-5">
      <div class="row my-3">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://cdn.shopify.com/s/files/1/0624/1746/9697/products/pate-tuoi-cho-meo-the-pet.jpg?v=1679653183"
                class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0624/1746/9697/products/pate-tuoi-the-pet-cho-cho-meo-bieng-an-1kg-ship-nowgrab-2h-paddy-1.jpg?v=1679653183"
                class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0624/1746/9697/products/pate-tuoi-the-pet-cho-cho-meo-bieng-an-1kg-ship-nowgrab-2h-paddy-3.jpg?v=1679653183"
                class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0624/1746/9697/products/pate-tuoi-the-pet-cho-cho-meo-bieng-an-1kg-ship-nowgrab-2h-paddy-4.jpg?v=1679653183"
                class="d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="row mx-5">
        <h3><b>Pate Tươi The Pet Cho Chó Mèo Biếng Ăn (1kg) - Ship Now/Grab 2H</b></h3>
      </div>

      <div class="row mx-5 my-4">
        <p>Thương hiệu: The Pet</p>
        <p> Kho hàng: 77 Còn hàng</p>
      </div>

      <div class="row mx-5 my-4">
        <b>95.000đ</b>
      </div>

      <div class="row mx-5 my-4">
            <span>
               <button class="minus btn-outline-light" style="color: black">-</button>
                <b class="mx-2">2</b>
               <button class="plus btn-outline-light" style="color: black">+</button>
            </span>
      </div>

      <div class="row mx-5 my-4">
        <b>Tổng số tiền: 190.000đ</b>
      </div>

      <div class="row mx-5">
        <div class="col-lg-6">
          <button class="btn btn-outline-dark">Thêm vào giỏ hàng</button>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-outline-primary">Tiếp tục mua hàng</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-3">
      <ul class="nav nav-tabs container" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                  data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
            <b>Mô tả</b></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                  type="button" role="tab" aria-controls="profile" aria-selected="false">
            <b>Đánh giá</b></button>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><b>Mô tả</b>
          <p>
            Pate Tươi Cho Mèo Hỗn Hợp cho Chó Mèo Biếng Ăn được làm từ hỗn hợp cá biển và gan gà tươi nguyên chất thích
            hợp dùng cho Chó Mèo.
          </p>
          <p>
            CHẤP HẾT TẤT CẢ MÈO BIẾNG ĂN, KHÓ ĂN, KÉN MỌI LOẠI THỨC ĂN.
            100% nguyên liệu tự nhiên, không độn rau củ, chứa độ ẩm & đạm tự nhiên cao từ 60-84%.
            Năng lượng cao hơn vượt trội so với các dòng sản phẩm khác trên thị trường (trung bình ở mức 400kcal/kg).
            Công thức siêu cấp nước, giúp ngăn ngừa sỏi thận.
            Với giá chỉ từ 8k/bữa ăn là Boss đã có được bữa ăn thơm ngon, tốt cho sức khỏe.
            Chỉ cần bảo quản sản phẩm trong ngăn mát, không cần chế biến hay hâm nóng.
          </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          ...
        </div>
      </div>
    </div>
  </div>
</div>
