<div class="container-fluid">
  <div class="row my-2" style="text-align: center">
    <h3><b style="color: #00074a;font-size: 30px">GIỎ HÀNG CỦA BẠN</b></h3>
  </div>

  <div class="row mx-4">
    <div class="col-lg-8">

      <div class="row" *ngIf="cartDetailDtos?.length > 0;else elseBlock">
        <div class="row my-3 py-3" style="background: #eeeeee; text-align: center">
          <div class="col-lg-2">
            <b>SẢN PHẨM</b>
          </div>

          <div class="col-lg-3">
          </div>

          <div class="col-lg-1">
            <b>GIÁ</b>
          </div>

          <div class="col-lg-4">
            <b>SỐ LƯỢNG</b>
          </div>

          <div class="col-lg-1">
            <b>TỔNG</b>
          </div>

          <div class="col-lg-1">
          </div>
        </div>

        <div class="row mt-2" *ngFor="let cart of cartDetailDtos">
          <div class="col-lg-2">
            <img src="{{cart.img}}"
                 style="width: 150px; height: 150px">
          </div>

          <div class="col-lg-3 mt-3" style="text-align: left">
            <b>{{cart.productName}}</b>
          </div>

          <div class="col-lg-1 mt-3">
            <b>{{cart.price}}đ</b>
          </div>

          <div class="col-lg-4" style="text-align: center">
           <span>
               <button class="minus btn-outline-light" style="color: black"
                       (click)="minus(cart.cartDetailId)">-</button>
                <b class="mx-1">{{cart.amount}}</b>
               <button class="plus btn-outline-light" style="color: black" (click)="plus(cart.cartDetailId)">+</button>
            </span>
          </div>

          <div class="col-lg-1 mt-3">
            <b>{{cart.price * cart.amount}}</b>
          </div>

          <div class="col-lg-1">
            <button (click)="delete( cart.cartId, cart.productId, cart.productName, cart.cartDetailId)"><i
              class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="text-center m-5">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/shoe-world-7d7d1.appspot.com/o/empty-cart.webp?alt=media&token=3c67f03d-3cf5-4772-8ec2-6e1858ca88e5"
            height="210" width="300"/>
        </div>
        <button class="btn btn-outline-dark" style="margin-left: 38%; margin-top: 3%" routerLink="/product/list">Trở lại
          trang mua sắm
        </button>
      </ng-template>
    </div>

    <div class="col-lg-4 px-4 mt-4">
      <div style="text-align: center">
        <div class="row">
          <h3><b>TỔNG SỐ TIỀN</b></h3>
          <hr style="height: 2px; color: black">
        </div>

        <div class="row">
          <div class="col-lg-6">
            <b>Tổng số tiền: </b>
          </div>
          <div class="col-lg-6">
            {{sum}}đ
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <b>Phí vận chuyển: </b>
          </div>
          <div class="col-lg-6">
            {{ship}}đ
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-6">
            <h5><b>Tổng thanh toán: </b></h5>
          </div>

          <div class="col-lg-6">
            <b>{{total}}đ</b>
          </div>
          <div class="row mt-4">
            <button class="btn btn-outline-dark" routerLink="/paypal" [disabled]="cartDetailDtos?.length === 0">Đi tới thanh toán</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
