<div class="container-fluid">
  <a href="" style="color: #9e9e9e">Trang chủ ></a> <span style="color: #9e9e9e">Giỏ hàng của bạn</span>
  <div class="row my-2" style="text-align: center">
    <h3><b style="color: navy">GIỎ HÀNG CỦA BẠN</b></h3>
  </div>


  <div class="row mx-4">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-outline-primary">
            <a routerLink="product/list">Tiếp tục mua hàng </a>
          </button>

        </div>
        <div class="col-lg-6"></div>
      </div>
      <div style="text-align: center" class="row">
        <div class="row my-3 py-3" style="background: #eeeeee">
          <div class="col-lg-2">
            <b>SẢN PHẨM</b>
          </div>

          <div class="col-lg-4"></div>

          <div class="col-lg-2">
            <b>GIÁ</b>
          </div>

          <div class="col-lg-2">
            <b>SỐ LƯỢNG</b>
          </div>

          <div class="col-lg-2">
            <b>TỔNG</b>
          </div>
        </div>

        <div class="row my-3 mt-3" *ngFor="let cart of cartDetailDtos">
          <div class="col-lg-2">
            <img src="{{cart.img}}"
              style="width: 150px; height: 150px;">
          </div>

          <div class="col-lg-4" style="text-align: left">
            <b>{{cart.productName}}</b>
          </div>

          <div class="col-lg-2">
            <b>{{cart.price}}đ</b>
          </div>

          <div class="col-lg-2">
           <span>
               <button class="minus btn-outline-light" style="color: black" (click)="minus(cart.cartDetailId)">-</button>
                <b class="mx-1">{{cart.amount}}</b>
               <button class="plus btn-outline-light" style="color: black" (click)="plus(cart.cartDetailId)">+</button>
            </span>
          </div>

          <div class="col-lg-2">
            <b>{{cart.price*cart.amount}}</b>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 px-4 mt-4">
      <div style="text-align: center">
        <div class="row">
          <h3><b>TỔNG SỐ TIỀN</b></h3>
          <hr style="height: 2px; color: black">
        </div>

        <div class="row">
          <div class="col-lg-6">
            <b>Tổng số tiền: </b>
          </div>
          <div class="col-lg-6">
            527.000đ
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <b>Phí vận chuyển: </b>
          </div>
          <div class="col-lg-6">
            30.000đ
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-6">
            <h5><b>Tổng thanh toán: </b></h5>
          </div>

          <div class="col-lg-6">
            <b>557.000đ</b>
          </div>
          <div class="row mt-4">
            <button class="btn btn-outline-success" routerLink="/paypal">Đi tới thanh toán</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
