<!--    Footer-->
<div class="row mt-5" style="background: whitesmoke">
  <div class="row my-3" style="text-align: center">
    <h2 style="color: #00074a">Thành viên Paddiers</h2>
    <span>Đăng ký thành viên ngay hôm nay để nhận email về sản phẩm mới và chương trình khuyến mãi</span>
    <p> của Paddy</p>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row">
        <form class="d-flex">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6">
            <input class="form-control me-2" placeholder="Email của bạn...">
          </div>
          <div class="col-lg-3 mx-2">
            <button type="submit" class="btn btn-primary">
              Đăng kí
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row my-5" style="color: #00074a">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
      <div class="row">
        <b>Shop</b>
        <br>
        <a href="" style="text-decoration: none;color: black">Dành cho chó</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Dành cho mèo</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Thương hiệu</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Blogs</a>
        <br>
        <a href=" " style="text-decoration: none;color: black">Bộ sưu tập</a>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="row">
        <b>Paddy Pet Shop</b>
        <br>
        <a href="" style="text-decoration: none;color: black">Giới thiệu</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Thành viên Paddier</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Điều khoản sử dụng</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Tuyển dụng</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <b>Hỗ Trợ Khách Hàng</b>
        <br>
        <a href="" style="text-decoration: none;color: black">Chính sách đổi trả hàng</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Phương thức vận chuyển</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Chính sách bảo mật</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Phương thức thanh toán</a>
        <br>
        <a href="" style="text-decoration: none;color: black">Chính sách hoàn tiền</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <b>Liên hệ</b>
        <br>
        <p>CÔNG TY CỔ PHẦN THUƠNG MẠI & DỊCH VỤ PADDY</p>
        <br>
        <p> 116 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>
        <br>
        <p><i class="fas fa-phone-alt"></i> Hotline: 0374414142</p>
        <br>
        <p><i class="fas fa-envelope"></i> Email: marketing@paddy.vn</p>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<!--End-->
<div class="row my-4">
  <div class="col-lg-1"></div>
  <div class="col-lg-6">
    <span> @2022 Paddy Pet Shop. All Rights Reserved. Powered By Paddy Pet Shop.</span>
    <p>Themes By Paddy.Vn</p>
  </div>
  <div class="col-lg-4">
    <img style="width: 150px; margin-left: 200px"
         src="https://cdn.shopify.com/s/files/1/0624/1746/9697/files/9999.png?v=1665417559">
  </div>
</div>
