<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light sticky-top px-4 px-lg-5 " style="background: navy">
  <a routerLink="/" class="navbar-brand d-flex align-items-center">
    <img src="//cdn.shopify.com/s/files/1/0624/1746/9697/files/Logo_transparent_white_140x.png?v=1669526563"
         loading="lazy" alt="Paddy Pet Shop"
         style="width: 150px">
  </a>
  <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <input class="form-control" style="display: inline; width: 450px; margin-left: 100px" type="search" aria-label="Search">
    <button type="submit" class="btn btn-outline-light mx-2"><i class="fas fa-search"></i>
    </button>
    <div class="navbar-nav ms-auto p-4 p-lg-0" >
      <a routerLink="/" class="nav-item nav-link mx-3"style="color: whitesmoke">
        <b class="mx-4">Hotline</b>
        <br>
        <b>0374 41 41 42</b>
      </a>

      <a routerLink="/" class="nav-item nav-link mx-3"style="color: whitesmoke">
        <i class="fa fa-dog" style="color: whitesmoke"></i>
      </a>

      <a routerLink="/product/list" class="nav-item nav-link mx-3"style="color: whitesmoke">
        <i class="fa fa-cat" style="color: whitesmoke"></i>
      </a>

      <a routerLink="/cart" class="nav-item nav-link"style="color: whitesmoke">
        <i class="fas fa-shopping-cart mx-4" style="color: whitesmoke"></i>
      </a>

      <div class="nav-item dropdown">
        <div class="ps-4 d-none d-lg-block">
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
              <li class="nav-item d-flex align-items-center mg-left" [hidden]="!isLoggedIn" >
                <b style="color: whitesmoke" class="text-center mt-3" [hidden]="!isLoggedIn">{{name}}</b>
              <li>
                <button  (click)="logOut()" style="color: white" [hidden]="!isLoggedIn">
                  <i class="fa fa-sign-out-alt mx-4 mt-4" style="color: whitesmoke"></i>
                </button>
              </li>
                <div [hidden]="isLoggedIn" style="margin-right: 45px" class="mt-2">
                  <a routerLink="/login"><i class="fa fa-user mx-4" style="color: whitesmoke"></i></a>
                  <br>
                  <b style="color: whitesmoke">Đăng nhập</b>
                </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
</div>


