<div class="row" style="text-align: center">
  <nav class="navbar navbar-expand-md" style="background: navy">
    <div class="collapse navbar-collapse container-fluid" id="navbarNavAltMarkup">
      <div class="col-md-2">
        <a href="/home.html?_ijt=n3sr7gprahp3eke38eqnsbbkh4&_ij_reload=RELOAD_ON_SAVE">
          <img src="//cdn.shopify.com/s/files/1/0624/1746/9697/files/Logo_transparent_white_140x.png?v=1669526563"
               loading="lazy" alt="Paddy Pet Shop"
               style="width: 150px">
        </a>
      </div>
      <div class="col-md-4">
        <form class="d-flex">
          <input class="form-control me-2" type="search" aria-label="Search">
          <button type="submit" class="btn btn-outline-light">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="col-md-2" style="color: #fdfdfe">
        <b>Hotline</b>
        <br>
        <b>0374 41 41 42</b>
      </div>
      <div class="col-md-1" style="color: #fdfdfe">
        <a href="/"><i class="fas fa-heart" style="color: #ffffff"></i></a>
        <br>
        <b>Yêu thích</b>
      </div>
      <div class="col-md-2" style="color: #fdfdfe">
        <a routerLink="/login"><i class="fas fa-user" style="color: #ffffff"></i></a>
        <br>
        <b>Đăng nhập</b>
      </div>
      <div class="col-md-1" style="color: #fdfdfe">
        <a href="/"><i class="fas fa-shopping-cart" style="color: #ffffff"></i></a>
        <br>
        <b>Giỏ hàng</b>
      </div>
    </div>
  </nav>
</div>

<nav class="navbar navbar-expand-md" style="background: navy">
  <div class="col-lg-1" style="margin-left: 50px">
    <a class="navbar-brand" href="#">
      <span style="color: #fdfdfe"><i class="fas fa-dog"></i></span></a>
  </div>

  <div class="col-lg-1">
    <a class="navbar-brand" href="#">
      <span style="color: #fdfdfe"><i class="fas fa-cat"></i></span></a>
  </div>

  <div class="col-lg-2">
    <a class="navbar-brand" href="#">
      <b style="color: #fdfdfe">Hàng mới về</b></a>
  </div>

  <div class="col-lg-2">
    <a class="navbar-brand" href="#">
      <b style="color: #fdfdfe">Thương hiệu</b></a>
  </div>

  <div class="col-lg-2">
    <a class="navbar-brand" href="#">
      <b style="color: #fdfdfe">News</b></a>
  </div>
  <div class="col-lg-4"></div>
</nav>

<div class="row my-2">
  <b style="text-align: center">Giảm đến 60% OFF tất cả sản phẩm*.
    <button class="btn btn-outline-warning rounded">Đăng kí ngay</button>
  </b>
</div>
